

.navbar-nav .nav-link {
  font-weight: 600;
}



.hero {
  background: url("top-image.jpg") no-repeat center top;
  background-size: cover;
  height: 100vh;
  position: relative;
}

/* On desktops (min width 992px) adjust image down */
@media (min-width: 992px) {
  .hero {
    background-position: center 30%; /* moves image down */
  }
.display-3{
  font-family: 'Montserrat', sans-serif;
   font-weight: 700; /* Bold */
}
.title{
  padding: 100px;
}
.fashion-title{
  padding-left: 200px;
}
.portrait-title{
  padding-left: 450px;
}
.container-two{
  padding:50px;
}
.conatiner-three{
  padding-top: 100px;
  padding-left: 450px;
}




}
.menu {
  margin-top: 100px;
}
.menu a {
  display: block;
  margin-bottom: 30px;
  font-size: 1.5rem;
  color: #555;
  text-decoration: none;
}
.menu a:hover {
  color: #000;
}
.container-four{
  padding:300px;
}
